@CHARSET "UTF-8";

html, body {
	background-color:#f9f9f9;
	font-family:"微软雅黑", Verdana, sans-serif;
}

.rs_container_login { 
	width: 350px;
	height:auto;
	margin:0 auto;
	border:1px solid #ddd;
	background-color:#fff;
	padding:35px;
}

.rs_container_login h3 {
	text-align: center;
	margin:0 0 35px 0; padding:0; 
}

.rs_container_login input {
	width:20em;
	padding:0.2em;
}