@CHARSET "UTF-8";

/* 类命名规范 .ys_ 开头为类 #YS_ 开头为ID  */

html, * {
	font-size:12px;
}

body {
	/* background-color:#fefefe; */
}

::selection { background-color:#e13300; color:#ffffff; }
ul,li { list-style:none; }
.hide { display:none; }

.container {
	width:960px;
}

.ys_header {
	background-color:#f5f5f5;
	border: none;
	height: 30px;
	min-height:30px;
	line-height:30px;
}

.ys_header .row {}

.ys_header input {
	padding:0;
	margin:0;
	height:1.8em;
	line-height:1.8em;
	margin-top:0.15em;
	margin-right:0.5em;
}

.ys_top_title {
	border-bottom:1px solid #c4c4c4;
}

.ys_top_title {
	text-align:center;
}
.ys_top_title h1 {
	margin:0px;
	height:40px;
	font-size:12;
}
.ys_top_title h1 a {
	margin:0px;
	padding:0px;
	display:block;
	height:40px;
	text-indent:-9999px;
	background:url(/templates/yueshi/images/yue.png) center center no-repeat;
}

.ys_logo {
	position:relative;
}
.ys_logo h2 {
	margin:0;
	padding:0;
}
.ys_logo h2 a {
	position:relative;
	display:block;
	height:200px;
	text-indent:-9999px;
	background:url(/templates/yueshi/images/logo.jpg) top center no-repeat;
}
.ys_date {
	position:absolute;
	z-index:100;
	top:3.3em;
	left:1.4em;
}
.ys_date p {
	text-align:center;
	font-weight:bold;
	font-size: 1.2em;
	color:#ee3333;
	line-height:2.2em;
	font-family:Georgia, Helvetica, Verdana;
}

.ys_homefocus {
	margin-top:15px;
}

#YS_MENU { height:auto; padding-top:10em; position:relative; z-index:0; }
.ys_menu_container { position:relative; z-index:0; }
.ys_menu { position:relative;list-style:none; padding-left:20%; z-index:0; }
.ys_menu_item { position:relative; text-align:center; cursor:pointer; z-index:10; }
.ys_menu_text, .ys_submenu_text { position:relative; z-index:100; display:block; text-decoration:none; color:#574e3f; font-size:1.2em; line-height:2em; }
.ys_menu_text:hover, .ys_submenu_text:hover { color:#ed1d25 }
.ys_submenu_container { position:absolute; z-index:150; width:7em; left:-67%; padding-top:30px; top:-4px; }
.ys_submenu { position:relative; display:block; z-index:980; border-top:1px solid #d9d9d9; border-right:1px solid #d9d9d9; }
.ys_tie_1 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }
.ys_tie_2 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }
.ys_tie_3 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }

.ys_footer {
	border-top:1px solid #e1e1e1;
	margin-top:20em;
	color:#bbbbbb;
	line-height:2em;
}
.ys_foot_links {
	text-align:right;
}
.ys_foot_links li { margin-left:0.5em; float:right; }