@CHARSET "UTF-8";

/* 类命名规范 .ys_ 开头为类 #YS_ 开头为ID  */
html, * {
	font-size:12px;
	font-family:"微软雅黑",sans-serif;
}

body {
	/* background-color:#fefefe; */
}

::selection { background-color:#e13300; color:#ffffff; }
ul,li { list-style:none; }
.hide { display:none; }
a:hover { color:#e13300; }
.container { width:960px; }

a.ys_link_red { text-decoration:underline; margin:0 0.5em; color:#e13300; }
a.ys_link_red:hover { text-decoration:none; }
.ys_container { margin-top:1em; }
.ys_container_register { margin-top:1em; }

.ys_top_info { text-align:right; }
.ys_header { background-color:#f5f5f5; border: none; height: 30px; min-height:30px; line-height:30px; }
.ys_header .row {}
.ys_header input { padding:0; margin:0; height:1.8em; line-height:1.8em; margin-top:0.15em; margin-right:0.5em; }
.ys_top_title { border-bottom:1px solid #c4c4c4; text-align:center; }
.ys_top_title h1 { margin:0px; height:40px; font-size:12px; }
.ys_top_title h1 a { margin:0px; padding:0px; display:block; height:40px; text-indent:-9999px;
	background:url(/templates/yueshi/images/yue.png) center center no-repeat; }

.ys_logo { position:relative; }
.ys_logo h2 { margin:0; padding:0; }
.ys_logo h2 a { position:relative; display:block; height:200px; text-indent:-9999px; background:url(/templates/yueshi/images/logo.jpg) top center no-repeat; }
.ys_date { position:absolute; z-index:100; top:3.3em; left:1.4em; }
.ys_date p { text-align:center; font-weight:bold; font-size: 1.2em; color:#ee3333; line-height:2.2em; font-family:Georgia, Helvetica, Verdana; }

.ys_homefocus { margin-top:15px; }

.ys_tips_error { }
.ys_title_register { font-size:1.5em; border-bottom:1px solid #c4c4c4; line-height:2.5em; margin-right:60%; padding-left:5em; }
.ys_form_section label, .ys_form_section input { display:inline-block; }
.ys_form_section label { width:8em; text-align:right: }
.ys_form_section input { width:auto; }
.ys_form_select { width:10em; display:inline-block; }
.ys_form_label { font-size:1.2em;  }
.ys_form_label b { color:#e13300; margin:0 2em 0 0.2em; }

.ys_breadcrum { line-height:3em; font-size:1em; }
.ys_article { padding:0 4em; font-size:1.17em; }
.ys_article h1 { font-size:2em; text-align:center; }
.ys_article .ys_article_content { line-height:180%; color:#666666; }
.ys_article .ys_article_content p { text-indent:2em; font-size:1.17em; }
.ys_article .ys_article_content strong { font-size:1.17em; }
.ys_article .ys_article_content p em {  }
.ys_article_author { text-align:center; font-size:1.17em; }
.ys_article_stat { text-align:right; }
.ys_article_comment { border-top:1px solid #c4c4c4; padding:1em 90px; }
.ys_comment_recorder { border-top:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; margin:1.5em 0; padding:1em 0; }
.ys_comment_recorder p { margin:0; text-align:center; }
.ys_comment_list { position:relative; }
.ys_comment_item { margin-bottom:0.8em; }
.ys_article_related { clear:both;  margin-top:0em; border-top:1px solid #c4c4c4; }
.ys_article_related h3 { font-size:1.2em; font-weight:bold; margin:0; padding:0; line-height:1.8em;
	font-family:"微软雅黑",sans-serif; }


#YS_MENU { height:auto; padding-top:10em; position:relative; z-index:0; }
.ys_menu_container { position:relative; z-index:0; }
.ys_menu { position:relative;list-style:none; padding-left:20%; z-index:0; }
.ys_menu_item { position:relative; text-align:center; cursor:pointer; z-index:10; }
.ys_menu_text, .ys_submenu_text { position:relative; z-index:100; display:block; text-decoration:none; color:#574e3f; font-size:1.2em; line-height:2em; }
.ys_menu_text:hover, .ys_submenu_text:hover { color:#ed1d25 }
.ys_submenu_container { position:absolute; z-index:150; width:7em; left:-67%; padding-top:30px; top:-4px; }
.ys_submenu { position:relative; display:block; z-index:980; border-top:1px solid #d9d9d9; border-right:1px solid #d9d9d9; }
.ys_tie_1 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }
.ys_tie_2 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }
.ys_tie_3 { background: url(/templates/yueshi/images/tie2.jpg) right top no-repeat; }
.ys_menu_nav { position:relatvie; text-align:center; font-size:1.2em; }
.ys_menu_nav li { display:inline-block; margin-right:1.5em; }
.ys_menu_nav li a { color:#444; font-size:1.2em; display:inline-block; line-height:2em; border-bottom:1px solid transparent; }
.ys_menu_nav li a:hover { text-decoration:none;  }
.ys_menu_nav li a:hover, .ys_menu_nav li a.active { border-bottom:1px solid #f33; }

.ys_thumbnail_block { display:block; margin:0 auto; text-align:center; margin-bottom:2em; border:1px solid #ddd; padding:4px; background-color:#fff; }
.ys_thumbnail_block img { width:100%; }
.ys_video_item_container { display:block; background-color:#f9f9f9; text-align:center; }
.ys_video_item_container img { width:370px; height:230px; }
.ys_caption { height:auto; overflow-y:hidden; color:#555; }
.ys_caption a { color:#337ab7; text-decoration:none; }
.ys_caption h3 a { font-size:0.7em; }
.ys_caption h3 a:hover { color:#ddd; }
.ys_caption p { color:#555; margin:0 1em 1em; font-size:1.2em; line-height:1.5em; text-align:left; }

.ys_ajaxmore { margin:10px 15px; background-color:#f9f9f9; text-align:center; line-height:2em; }
.ys_ajaxmore a { text-decoration:none; color:#d7d7d7; line-height:2em; }
.ys_ajaxmore a:hover { color:#e13300; }
.ys_pagelink { margin:10px 15px; text-align:center; }
.ys_pagelink a { display:inline-block; border:1px solid rgb(51, 122, 183); padding:0.2em 0.5em; margin:0 0.5em; }

.ys_footer { border-top:1px solid #e1e1e1; margin-top:1em; color:#bbbbbb; line-height:2em; }
.ys_foot_links { text-align:right; }
.ys_foot_links li { margin-left:0.5em; float:right; }